:root {
    --green: #389f5b;
    --green-dark: #076824;
    --yellow: #f29e01;
    --yellow-dark: #af6e08;
    --red: #d44840;
    --red-dark: #aa3835;
    --grey: #f0f2f2;
    --grey-dark: #b5b9ba;
}

@font-face {
    font-family: 'Museo';
    font-style: normal;
    font-weight: thin;
    src: url(../fonts/museo/Museo300-Regular.woff);
    font-display: swap;
}
@font-face {
    font-family: 'Museo';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/museo/Museo500-Regular.woff);
    font-display: swap;
}
@font-face {
    font-family: 'Museo';
    font-style: normal;
    font-weight: bold;
    src: url(../fonts/museo/Museo700-Regular.woff);
    font-display: swap;
}

/*****************************
 RESER 
 ****************************/

body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Museo', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
    color: #3f3f3d;
    letter-spacing: 0;
}
body * {
    display: inline-block;
}

script {
    display: none;
}

/*****************************
 UTILITY CLASSES
 ****************************/

.red {
    color: var(--red);
}

.italic {
    font-style: italic;
}

/*****************************
 MAIN CLASSES
 ****************************/

.btn {
    min-width: 180px;
    max-width: 240px;
    padding: 15px 30px;
    font-size: 24px;
    line-height: 30px;
    background-color: #fff;
    border: 1px solid var(--grey-dark);
    text-decoration: none;
    box-shadow: -10px -10px 0 var(--grey-dark);
    position: relative;
}
.btn::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    bottom: -1px;
    left: -11px;
    border-width: 0 10px 10px 0;
    border-color: transparent var(--grey-dark) transparent transparent;
}
.btn::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    top: -11px;
    right: -1px;
    border-width: 10px 0 0 10px;
    border-color: transparent transparent transparent var(--grey-dark);
}
.btn > .corner {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 1px;
    height: 14px;
    background-color: #fff8;
    transform: rotate(315deg);
    transform-origin: top left;
}
.btn:hover {
    background-color: var(--grey);
}
section.red .btn {
    border-color: var(--red-dark);
    box-shadow: -10px -10px 0 var(--red-dark);
}
section.red .btn::before {
    border-color: transparent var(--red-dark) transparent transparent;
}
section.red .btn::after {
    border-color: transparent transparent transparent var(--red-dark);
}
section.red .btn:hover {
    background-color: var(--red);
    color: #fff;
    border-top-color: #fff;
    border-left-color: #fff;
}
section.green .btn {
    border-color: var(--green-dark);
    box-shadow: -10px -10px 0 var(--green-dark);
}
section.green .btn::before {
    border-color: transparent var(--green-dark) transparent transparent;
}
section.green .btn::after {
    border-color: transparent transparent transparent var(--green-dark);
}
section.green .btn:hover {
    background-color: var(--green);
    color: #fff;
    border-top-color: #fff;
    border-left-color: #fff;
}
section.yellow .btn {
    border-color: var(--yellow-dark);
    box-shadow: -10px -10px 0 var(--yellow-dark);
}
section.yellow .btn::before {
    border-color: transparent var(--yellow-dark) transparent transparent;
}
section.yellow .btn::after {
    border-color: transparent transparent transparent var(--yellow-dark);
}
section.yellow .btn:hover {
    background-color: var(--yellow);
    color: #fff;
    border-top-color: #fff;
    border-left-color: #fff;
}

/*****************************
 MAIN CLASSES
 ****************************/

body {
    width: 100%;
    padding-bottom: 120px;
    background-color: #f09d23;
    background-image: url(../img/kringelis.png);
    background-position-x: center;
    background-position-y: -30%;
    background-size: 100%;
    background-repeat: repeat-y;
}

header {
    width: 100%;
    max-height: 244px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px;
}
header > .banner {
    max-width: 100%;
    max-height: 200px;
    object-fit: contain;
    object-position: left center;
}
header > .logo {
    display: none;
    width: 240px;
    height: 240px;
    object-fit: contain;
    object-position: top right;
}

main {
    width: 100%;
    padding: 15px 25px;
}
main > .column,
main > .full-column {
    width: 100%;
    margin: 10px 0;
}

footer {
    width: 100%;
    padding: 0 25px 25px 25px;
}

section {
    width: 100%;
    padding: 15px;
    background-color: #f0f2f2;
    border: 1px solid #f0f2f2;
}
section + section {
    margin-top: 20px;
}
h2 {
    width: 100%;
    padding: 5px 15px;
    margin: 5px 0 15px -25px;
    background-color: var(--grey-dark);
    font-weight: normal;
    font-size: 24px;
    line-height: 40px;
    text-transform: uppercase;
    position: relative;
}
h2 > .start {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}
h2 > .start::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    border-style: solid;
    border-width: 0px 0px 10px 10px;
    border-color: transparent transparent var(--grey-dark) transparent;
}
h2 > .end {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}
h2 > .end::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: -15px;
    border-style: solid;
    border-width: 25px 0 0 15px;
    border-color: transparent transparent transparent var(--grey-dark);
}
h2 > .end::after {
    content: '';
    position: absolute;
    top: 0;
    right: -15px;
    border-style: solid;
    border-width: 25px 15px 0 0;
    border-color: var(--grey-dark) transparent transparent transparent;
}
.content {
    width: 100%;
    padding: 15px 0;
}
.content > * {
    width: 100%;
}
.content > * + * {
    margin-top: 15px;
}
.content > iframe {
    min-height: 240px;
}
.content > p {
    font-size: 15px;
    line-height: 20px;
}
.content > .action {
    margin-top: 45px;
    text-align: center;
}
.content > .list {
    text-align: center;
}
.list > .item {
    width: 30%;
    float: left;
}
.list > .item + .item {
    margin-left: 5%;
}
.list > .item > img {
    width: 100%;
    max-width: 80px;
}
.list > .item > label {
    width: 100%;
    font-size: 12px;
    line-height: 20px;
}

.counter-title {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    color: var(--green-dark);
    text-transform: uppercase;
}

.clock {
    display: flex;
    justify-content: center;
    flex-flow: row;
    flex-wrap: wrap;
}
.clock > .time {
    min-width: 54px;
    margin: 15px 30px 15px 0;
    text-align: center;
    position: relative;
}
.clock > .time + .time::before {
    content: ':';
    position: absolute;
    top: 0;
    left: -19px;
    font-size: 32px;
    line-height: 40px;
    color: var(--green-dark);
}
.clock .value {
    width: 100%;
    padding: 0 10px;
    font-size: 32px;
    line-height: 50px;
    color: var(--green-dark);
    border: 2px solid #3f3f3d;
    border-radius: 10px;
}
.clock .label {
    font-size: 12px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    left: 100%;
    bottom: -8px;
}

section.green {
    border-color: var(--green);
}
section.green > h2 {
    background-color: var(--green);
    color: #fff;
}
section.green > h2 > .start::before {
    border-color: transparent transparent var(--green-dark) transparent;
}
section.green > h2 > .end::before {
    border-color: transparent transparent transparent var(--green);
}
section.green > h2 > .end::after {
    border-color: var(--green) transparent transparent transparent;
}

section.red {
    border-color: var(--red);
}
section.red > h2 {
    background-color: var(--red);
    color: #fff;
}
section.red > h2 > .start::before {
    border-color: transparent transparent var(--red-dark) transparent;
}
section.red > h2 > .end::before {
    border-color: transparent transparent transparent var(--red);
}
section.red > h2 > .end::after {
    border-color: var(--red) transparent transparent transparent;
}

section.yellow {
    border-color: var(--yellow);
}
section.yellow > h2 {
    background-color: var(--yellow);
    color: #fff;
}
section.yellow > h2 > .start::before {
    border-color: transparent transparent var(--yellow-dark) transparent;
}
section.yellow > h2 > .end::before {
    border-color: transparent transparent transparent var(--yellow);
}
section.yellow > h2 > .end::after {
    border-color: var(--yellow) transparent transparent transparent;
}

.partners-list {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}
.partners-list::after {
    content: '';
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    border-bottom: 1px solid var(--grey);
}
.partners-list > .partner {
    width: 180px;
    height: 100px;
    padding: 20px 30px;
    margin: 0;
    border-bottom: 1px solid var(--grey-dark);
    position: relative;
}
.partners-list > .partner::before,
.partners-list > .partner::after {
    content: '';
    position: absolute;
    top: 20px;
    bottom: 20px;
    width: 1px;
    background-color: var(--grey-dark);
}
.partners-list > .partner::before {
    left: 0;
}
.partners-list > .partner::after {
    right: -1px;
}
.partners-list > .partner.double {
    width: 360px;
}
.partners-list > .partner > a {
    width: 100%;
    height: 100%;
}
.partners-list > .partner > a > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (min-width: 850px) {
    header > .logo {
        display: inline-block;
    }
}

@media (min-width: 1040px) {
    header,
    main {
        width: 960px;
        padding: 15px 0;
        margin: 0 calc(50% - 480px);
    }
    main > .column {
        width: 450px;
        float: left;
    }
    main > .column + .column {
        float: right;
    }

    .counter-title {
        font-size: 32px;
        line-height: 40px;
    }
    h2 {
        padding: 5px 25px;
        margin: 5px -10px 15px -35px;
        font-size: 30px;
    }
    h2 > .start::before {
        border-width: 0 0 10px 20px;
    }

    .col-right h2 {
        margin: 5px -35px 15px 35px;
        text-align: right;
    }
    .col-right h2 > .start {
        right: 0;
        left: unset;
    }
    .col-right h2 > .start::before {
        left: unset;
        right: 0;
        border-width: 10px 0px 0px 20px;
        border-color: transparent transparent transparent var(--grey-dark);
    }
    .col-right h2 > .end {
        right: unset;
        left: 0;
    }
    .col-right h2 > .end::before {
        right: unset;
        left: -15px;
        top: 0;
        bottom: unset;
        border-width: 0 15px 25px 0;
        border-color: transparent var(--grey-dark) transparent transparent;
    }
    .col-right h2 > .end::after {
        right: unset;
        left: -15px;
        top: unset;
        bottom: 0;
        border-width: 0 0 25px 15px;
        border-color: transparent transparent var(--grey-dark) transparent;
    }

    .col-right section.green > h2 > .start::before {
        border-color: transparent transparent transparent var(--green-dark);
    }
    .col-right section.green > h2 > .end::before {
        border-color: transparent var(--green) transparent transparent;
    }
    .col-right section.green > h2 > .end::after {
        border-color: transparent transparent var(--green) transparent;
    }

    .col-right section.red > h2 > .start::before {
        border-color: transparent transparent transparent var(--red-dark);
    }
    .col-right section.red > h2 > .end::before {
        border-color: transparent var(--red) transparent transparent;
    }
    .col-right section.red > h2 > .end::after {
        border-color: transparent transparent var(--red) transparent;
    }

    .col-right section.yellow > h2 > .start::before {
        border-color: transparent transparent transparent var(--yellow-dark);
    }
    .col-right section.yellow > h2 > .end::before {
        border-color: transparent var(--yellow) transparent transparent;
    }
    .col-right section.yellow > h2 > .end::after {
        border-color: transparent transparent var(--yellow) transparent;
    }

    main > .full-column {
        margin-top: 30px;
    }
    .full-column h2 {
        width: calc(100% + 70px);
        margin-top: -1px;
        text-align: center;
    }
    .full-column h2 > .end {
        bottom: unset;
        right: 15px;
    }
    .full-column h2 > .end::before {
        border-width: 10px 0 0 20px;
        border-color: transparent transparent transparent var(--grey-dark);
    }
    .full-column h2 > .end::after {
        display: none;
    }
    .full-column section.red > h2 > .end::before {
        border-color: transparent transparent transparent var(--red-dark);
    }
    .full-column section.green > h2 > .end::before {
        border-color: transparent transparent transparent var(--green-dark);
    }
    .full-column section.yellow > h2 > .end::before {
        border-color: transparent transparent transparent var(--yellow-dark);
    }
}
